.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  body {
    font-family: "Lato", sans-serif;
    background-color: blanchedalmond;
    padding: 20px;
}
/*for article */
/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  /* Add a card effect for articles */
.card {
    background-color: darkseagreen;
        padding: 20px;
    margin-top: 20px;
    border-radius: 1%;
}
  .card h2,h5,p{
    text-align: center;
  }
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn {
      width: 100%;
      padding: 0;
    }
  }
  
  
 